.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .mat-accordion .mat-expansion-panel{
    background: #00498A;
    color: white;
    border-radius: 0 !important;
    box-shadow: none;
    .mat-expansion-panel-header-title{
        color: white !important;
    }
   
  }
  :host ::ng-deep.mat-expansion-panel-body{
    padding: 0 !important;
  }
  :host ::ng-deep .mat-expansion-indicator::after {
    color:white !important;
}
.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}
.mat-expansion-panel-spacing {
  margin: 8px 0;
}