.mat-card{
    padding: 2rem 0;
    max-width: 60%;
    height: 65vh;
margin: 2rem auto;
text-align: center;
max-height: 600px;
background: #FFFFFF;
box-shadow: none;

button{
    background: #00498A;
}
}
.full-width{
    width: 70%;
  }
  .mat-flat-button {
    color: #fff;
}
