.mat-tree-node{
    background: #1e70b3 !important;
    padding: 0 20px !important;
    color: white !important;
    a{
        color: white !important;
        cursor: pointer;
        text-transform: capitalize;
    }
    .mat-icon{
        color: white !important;
    }
}
.mat-icon-button.mat-button-disabled.mat-button-disabled {
    display: none;
}